/*
 * GLOBAL STYLE
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #001e4d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.app{
    background: #fff;
    width: 90%;
    min-width: 900px;
    min-height: 500px;
    max-width: 1000px;
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
}

.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.control{
    text-align: left;
    font-size: 1rem;
    position: relative;
}

/*
 * SPECIFIC STYLE
*/

/* Radio buttons */

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    display: inline-flex;
}

.radio-dot {
    cursor: pointer;
    border-radius: 290486px;
    flex-shrink: 0;
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    position: relative;
    inset-block-start: .0625em;
}

.radio-label-text{
    margin: 0 .5em;
}

.btn:hover{
    background: #222;
    color: #fff;
}

#validate-btn{
    background: #ffffff00;
    color: #001e4d;
    font-weight: 800;
    width: 100px;
    border: 0;
    padding: 10px;
    margin: 10px auto 0;
    border-radius: 4px;
    cursor: pointer;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

/* yes no */
.radio-dot-yesno {
    cursor: pointer;
    border-radius: 290486px;
    margin: 0 .5em;
    flex-shrink: 0;
    width: 1.25em;
    height: 1.25em;
    position: relative;
    inset-block-start: .0625em;
    display: grid;
    width: 50px;
}

th:first-child, td:first-child {
    width: 75%;
}
th:not(:first-child), td:not(:first-child) {
    width: 12.5%;
}

/* Correct incorrect */
.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}